<html>
	<head>
		<link rel="stylesheet" href="{{ url }}/assets/default/css/install.css">
		<title>Welcome to website installer v1.0</title>
	</head>
	<body>
		<div class="container">
			<h1>Installing the database </h1>
			<p class="success">Installer v1.0</p>
			<p class="danger">Please do not close the browser doing the instalation</p> 
			<div class="spin"></div>
		</div>	
	</body>
</html>