<html>
	<head>
		<link rel="stylesheet" href="{{ url }}/assets/default/css/install.css">
		<title>Welcome to website installer v1.0</title>
	</head>
	<body>
		<div class="container">
			<h1>Website installer</h1>
			<p class="success">Installer v1.0</p>
			<p class="danger">Please do not close the browser doing the instalation</p> 
			<p class="info">Before start the install please be sure to change the data base configuration from (src/configs/settings.php)</p> 
			<a class="btn" href="{{ path_for('getStep1') }}">Install Now </a>
		</div>	
	</body>
</html>